osource "c:/NRF/Application_1/beacon_2/boards/shields/*/Kconfig.defconfig"
osource "c:/NRF/Application_1/beacon/boards/shields/*/Kconfig.defconfig"
osource "C:/NRF/v1.8.0/nrf/boards/shields/*/Kconfig.defconfig"
